body {
    font-family: Arial, sans-serif;
    background-color: #7BAFD4; /* Carolina Blue background */
    color: #FFFFFF;
    text-align: center;
}

.container {
    background-color: #FFFFFF; /* White background for form */
    color: #333333; /* Dark text for readability */
    border-radius: 4px;
    margin: auto;
    padding: 20px;
}

.logo-container {
    padding: 20px 0;
    display: inline-block;
    position: relative;
}

.logo-background {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 95%; /* Set the width to 95% of the logo's width */
    padding-top: 95%; /* Maintain a 1:1 aspect ratio for the circle */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.logo {
    width: 150px;
    position: relative;
    z-index: 1;
}

input[type="text"] {
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
